<% provide(:title, "Settings") %>
<div class="row">
  <div class="col-lg-3 col-lg-offset-2 col-md-5">
          <!-- /.panel-heading -->
        <div class="panel-body edit-form-options">
          <div class="list-group">
            
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a class="list-group-item">
                    <h3>User Settings</h3>
                </a>
              </li>
              <li class="active"> 
                <a data-toggle="tab" href="#username"  class="list-group-item">
                 Profile 
                 <span class="pull-right text-muted small" ><i class="fa fa-2x fa-cog"></i>
                 </span>
                </a> 
              </li>
              <li> 
                <a data-toggle="tab" href="#password" class="list-group-item">
                 Password 
                 <span class="pull-right text-muted small"><i class="fa fa-2x fa-cog"></i>
                 </span>
                </a> 
              </li>
              <li> 
                <a data-toggle="tab" href="#activity" class="list-group-item">
                 Topic Lounges
                 <span class="pull-right text-muted small"><i class="fa fa-2x fa-cog"></i>
                 </span>
                </a> 
              </li>
              <li> 
                <a data-toggle="tab" href="#Not Available" class="list-group-item">
                 Disabled for Beta
                 <span class="pull-right text-muted small"><i class="fa fa-2x fa-cog"></i>
                 </span>
                </a> 
              </li>
              <li> 
                <a data-toggle="tab" href="#Not Available" class="list-group-item">
                 Disabled for Beta 
                 <span class="pull-right text-muted small"><i class="fa fa-2x fa-cog"></i>
                 </span>
                </a> 
              </li>
           
            </ul>
          </div>
        </div>


          <!-- /.panel-body -->
  </div>
  <div class="col-lg-4 col-md-7">
     <div class="tab-content">
       <%= render 'users/username' %>
       <%= render 'users/password' %>
       <%= render 'users/activity_change' %>
     </div>
  </div>
  

</div>



