<!-- modal -->
<div class="epic-modal modal" id="activity-form" tab-index="-1" role="dialog" aria-hidden="true">
       <div class="modal-content">
            <div class="epic-modal-header">
              <h4 class="form-header"> Start a New Topic </h4>
            </div>
            <div class="modal-body">
                 <%= render 'shared/activity_form' %>
            </div>
           <div class="close-modal"data-dismiss="modal">
             <i class="glyphicon glyphicon-remove"></i>
           </div>
       </div>
</div>
<!-- end modal -->