<% if @feed_items.any? %>
	<ol class="activities">
		<%= render @feed_items %>
	</ol>
	<hr style="margin:-10px -15px 0 -15px">
	<div class="text-center"> <%= will_paginate @feed_items, page_links: false %> </div>
<% end %>
