<div class="prev-modal modal" id="img-preview-modal" role="dialog" aria-hidden="true" tab-index="-1">
       <div class="modal-content">
            <%= image_tag '', id:'img-preview', style:"border-radius:5px;" %>
       			<div class="close-modal"data-dismiss="modal"><i class="fa fa-times fa-2x"></i></div>
       </div>
</div>
