<section class="container row">
  <div class ="col-xs-12 text-center">
    <h2 class="text-center" style="background:#aabcff; color:#333; display:inline-block; padding:20px 100px 20px 100px; border-radius:10px"> <%= @action.content.capitalize %> Lounge 
    </h2>
    <div style='margin-left: 25px; display:inline-block; border-radius: 10px; padding:15px; background: #fff'>  
        <span style="font-weight:bold; color:#449D44; font-size:24px"> <%= @action.live_users %> Active </span> 
    </div>
  </div>
</section>